<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 col-xl-6 text-center">
        <h2 class="mt-0">{{ section.title }}</h2>
        <hr class="divider border border-primary border-2">
      <p class="text-muted mb-5">{{ section.text }}</p>
    </div>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
      {% for action in section.actions %}
      <div class="col ml-auto text-center">
        <i class="fs-1 {{ action.icon }} mb-3 text-muted"></i>
        <a class="d-block" href="{{ action.url }}">{{ action.title }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
