<section id="{{ section.section_id }}" class="page-section-smaller {{ section.background_style }}">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center">
      <div class="mb-4 {{ section.text_style | default: "text-muted" }}">
        {{ section.text | newline_to_br | markdownify }}
      </div>
    </div>
    {% if section.actions %}
    <div class="row justify-content-center">
      <div class="col md-auto text-center">
        {% for action in section.actions %}
          <a href="{{ action.url }}" class="btn btn-xl js-scroll-trigger {{ action.class | default: "btn-primary" }}">{{ action.title }}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</section>
