---
layout: base
---

<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">{{ page.header.title }}</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">{{ page.header.text }}</p>
                {% if page.header.action %}
                <a class="btn btn-primary btn-xl" href="{{ page.header.action.url }}">{{ page.header.action.label }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

{% for section in page.sections %}
    {% include {{ section.type }} section=section site=site page=page %}
{% endfor %}

{{ content }}
